<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>css test</title>
        <style>
            input[type="text"]{
                border:1px solid red;
            }
            .c1[id="1"]{
                color:aqua;
            }
            .c2 li{
                color:aquamarine;
            }
            .c2 > a{
                color:brown
            }
        </style>
    </head>

    <body>
        <input type="text">
        <input type="password">
        <div class="c1" id="0">a</div>
        <div class="c1" id="1">b</div>
        <div class="c1" id="2">c</div>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <div class="c2">
            <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
            </ul>
            <a>百度</a>
            <div>
                <a>谷歌</a>
            </div>
        </div>

    </body>
</html>